/* NAVBAR + CAROUSEL */

header {
  display: flex;
  justify-content: center;
  font-family: monospace;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(to right, orangered, orange);
}


.navbar {
  font-size: 1.5rem;
}

.navbar .container-fluid .nav-item a {
  color: white;
  margin-left: 25px;
}

.navbar .container-fluid .nav-item a:hover {
  color: black;
  background: white;
  border-radius: 5px;

}

/* 

.carousel {
  position: relative;
  background: url(/ocean-horizon.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: white;
  padding-top: 110px;
  min-height: 500px;
  letter-spacing: 2px;
}

.carousel h1 {
  font-size: 50px;
  line-height: 1.3;
}

.carousel h1 span {
  font-size: 40px;
  color: white;
  border-bottom: 2px solid white;
  padding-bottom: 12px;
  line-height: 3;
}

*/

.wrapper {
  position: relative;
  background: url(/ocean-horizon.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: white;
  padding-top: 110px;
  min-height: 500px;
  letter-spacing: 2px;
}

.typing-demo {
  width: fit-content;
  text-align: center;
  margin: auto;
  width: 22ch;
  animation: typing 3s steps(22), blink .15s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;
  color: white;
  text-align: center;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

/* FIN NAVBAR + CAROUSEL */

/* DESTINATION */

.projects-content {
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1rem 0;
}

* {
  box-sizing: border-box;
}

.content-title {
  text-align: center;
  margin-bottom: 5%;
  color: orange
}

.box-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10%;
}

.card {
  width: 300px;
  display: inline-block;
  margin: 1rem;
  border-radius: 4px;
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  background: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.card:hover,
.card.hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-content,
.card.hover .card-content {
  box-shadow: inset 0 3px 0 0 #ffffff;
  border-color: #ffffff00;
}

.card:hover .card-img .overlay,
.card.hover .card-img .overlay {
  background-color: black;
  transition: opacity 0.2s ease;
  opacity: 70%;
}


.card-img {
  position: relative;
  height: 224px;
  width: 100%;
  background-color: #fff;
  transition: opacity 0.2s ease;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-img .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}

.card-img .overlay .overlay-content {
  line-height: 224px;
  width: 100%;
  text-align: center;
  color: #fff;
}

.card-img .overlay .overlay-content a {
  color: #fff;
  padding: 0 2rem;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.4);
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
}

.card-img .overlay .overlay-content a:hover,
.card-img .overlay .overlay-content a.hover {
  background: #505050;
  border-color: #5c5c5c;
}

.card-content {
  width: 100%;
  min-height: 104px;
  background-color: #fff;
  border-top: 1px solid #e9e9eb;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 1rem 2rem;
  transition: all 0.2s ease;
}

.card-content a {
  text-decoration: none;
  color: #202927;
}

.card-content a:hover {
  text-decoration: none;
  color: #202927;
}

.card-content h2,
.card-content a h2 {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.card-content p,
.card-content a p {
  font-size: 0.8rem;
  font-weight: 400;
  white-space: wrap;
  color: rgba(32, 41, 28, 0.8);
}

/* FIN DESTINATIONS */

/* OPÉRATEUR */
.wrapper{
  background-image: url('/images/mer.gif');
  background-size: cover;
  background-repeat: no-repeat;
}

.opérateur {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px 0 15px 0;
}

.btn {
  color: white;
  background: linear-gradient(to right, orangered, orange);
  border: none;
}

.button-operator {
  margin: 43.5px 43.5% 43.5px 43.5%;
  border-radius: 50px;
}

/* FIN OPÉRATEUR */

/* ADMIN */

.Admin {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}

form {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, orangered, orange);
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: white;
}

h4 {
  text-align: center;
  font-size: 20px;
}

hr {
  margin: 10px 0;
  background-color: #ccc;
  border: 0;
  height: 1px;
  width: 100%;
}

.name-field {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.name-field div {
  display: flex;
  flex-direction: column;
}

.name-field div {
  width: 49%;
}

label {
  margin-bottom: 6px;
  display: flex;
  justify-content: center;
}

input {
  margin-bottom: 5px;
  padding: 5px;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

input:focus {
  border: 1px solid black;
}

input[type="submit"] {
  margin-top: 15px;
  background-color: rgb(240, 198, 120);
  color: #fff;
  border: 1px solid rgb(240, 198, 120);
}

/* FIN ADMIN */